<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ navigation.home }}">Home</a>
                <a href="{{ navigation.search }}">Search</a>
                <a href="{{ navigation.directory }}">Directory</a>
            </nav>
            <h1>
                {{ title }}
            </h1>
        </header>
        <main>
            <article id="{{ identifier }}">
                {% block content %}
                    <p>
                        You're not supposed to see this...
                    </p>
                {% endblock %}
            </article>
        </main>
        <footer>
            <p>
                &#169; Unoffical Sparkbird SMP 2026
            </p>
            <p>
                Custom assets created by ___
            </p>
            <a href="#">Back to top</a>
        </footer>
    </body>
</html>