:root {
    --yellow: #f1bc5c;
    --red: #701f01;
    --light-green: #7a7a30;
    --light-brown: #936939;
    --orange: #aa4a00;
    --dark-brown: #4a2711;
    --dark-green: #534a0f;
    --dark-magenta: #681622;
    --pale-yellow: #dac782;
    --off-white: #f1e4b0;
    --off-black: #070213;
}

body {
    margin: 0;
    padding: 0;
    font-size: medium;
    background-color: var(--light-green);
}

/* Header */
header {
    background-color: var(--red);
    color: var(--off-white);
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    justify-items: center;
}

header > h1 {
    margin-bottom: 0;
    justify-self: center;
}

nav > a {
    color: var(--light-green);
}

/* Footer */
footer {
    text-align: center;
    background-color: var(--red);
    color: var(--off-white);
    padding: 1em;
}

footer > p {
    margin: 1em;
}

/* Main */
main {
    background-color: var(--off-white);
    max-width: 1200px;
    margin: auto;
}

main > article > h2 {
    margin-top: 0;
}

main {
    padding: 1em 0 1em 0;
}

main > article {
    margin: 0 2em 0 2em;
}

/* Homepage */
#homepage {
    text-align: center;
}

/* Archive Pages */
article > h2 {
    text-align: center;
}

h3, h4 {
    text-align: center;
}

/* Gallery */
.gal-contain {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 0;
}

.gallery {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1em;
    grid-template-areas: "larrow image rarrow";
}

.gal-img {
    width: 70vw;
    max-width: 1000px;
    height: auto;
    margin: 0;
}

.gal-slide {
    display: none;
    grid-area: image;
    margin: 0;
    justify-self: stretch;
}

.gal-prev, .gal-next {
    cursor: pointer;
    padding: 16px;
    color: var(--off-black);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.gal-prev {
    grid-area: larrow;
}

.gal-next {
    right: 0;
    border-radius: 3px 0 0 3px;
    grid-area: rarrow;
}

.gal-prev:hover, .gal-next:hover {
    background-color: rgba(0,0,0,0.8);
}

.gal-text {
    padding: 0.5em 1em;
    left: 50%;
    transform: translate(-50%);
    bottom: 40%;
    background-color: var(--light-brown);
    position: absolute;
    text-align: center;
}

.gal-number {
    font-size: small;
    padding: 0.5em 1em;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    background-color: var(--dark-green);
}

.gal-counter {
    padding: 0.8em;
}

.gal-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .gal-dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}